/********* ColorBox *********/
.colorbox {
  width: 30px;
  height: 30px;
  background-color: var(--color);
  border: 3px solid var(--color-default);
  border-radius: var(--rounded-full);
  cursor: pointer;
}
.colorbox__active {
  box-shadow: 0px 0px 0px 2px var(--color-blackAlpha-300);
}
