@import url(./normalize.css);
@import url(./fonts.css);
@import url(./typography.css);
@import url(./button.css);
@import url(./header.css);
@import url(./icon-button.css);
@import url(./modules.css);
@import url(./main-carousel.css);
@import url(./features.css);
@import url(./section-header.css);

/********* Variables *********/
:root {
  /* Colors Palette */
  --color-hint: #ddebf5;
  --color-primary: #22425a;
  --color-default: #fff;
  --color-inverted: #000;
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #ff7144;
  --color-orange-dark: #ff5d2a;
  --color-green: #97a796;
  --color-blue: #b3d1f8;
  --color-gray: #eee;
  --color-gray-light: #fafafa;
  --color-gray-dark: #292c35;
  /* Border Radius */
  --rounded-lg: 30px;
  --rounded-xl: 100px;
  --rounded-full: 100%;
  /* Font Sizes */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 3.125rem;
}
/********* General *********/
body {
  background-color: var(--color-default);
  font-size: 16px;
  font-family: "RadionB", sans-serif;
}
@media (max-width: 769px) {
  body {
    font-size: 14px;
  }
}
a:focus-within,
button:focus-within {
  z-index: 1;
  outline: none;
  transition: box-shadow 0.2s;
  box-shadow: 0px 0px 0px 2px var(--color-blue);
}
.container-fluid {
  padding: 0 40px;
}
@media (max-width: 992px) {
  .container-fluid {
    padding: 0 15px;
  }
}