@import url(./fonts.css);
@import url(./normalize.css);
@import url(./grid.css);
@import url(./utils.css);
@import url(./header.css);
@import url(./input.css);
@import url(./button.css);
@import url(./icon-button.css);
@import url(./badge.css);
@import url(./colorbox.css);
@import url(./modules.css);
@import url(./main-carousel.css);
@import url(./features.css);
@import url(./section-header.css);
@import url(./image-review.css);
@import url(./rating-stack.css);
@import url(./image-collection.css);
@import url(./image-marquee.css);
@import url(./marquee.css);
@import url(./collection-card.css);
@import url(./partners.css);
@import url(./footer.css);

/********* Variables *********/
:root {
  /* Colors Palette */
  --color-hint: #ddebf5;
  --color-primary: #22425a;
  --color-default: #fff;
  --color-inverted: #000;
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #ff7144;
  --color-orange-dark: #ff5d2a;
  --color-green: #44ae6f;
  --color-blue: #b3d1f8;
  --color-gray: #8f8f8f;
  --color-gray-extra-light: #fafafa;
  --color-gray-light: #f3f3f3;
  --color-gray-dark: #292c35;
  --color-blackAlpha-300: rgba(0, 0, 0, 0.3);
  --color-blackAlpha-500: rgba(0, 0, 0, 0.5);
  --color-blackAlpha-600: rgba(0, 0, 0, 0.6);
  /* Border Radius */
  --rounded-sm: 6px;
  --rounded-md: 8px;
  --rounded-lg: 30px;
  --rounded-xl: 100px;
  --rounded-full: 100%;
  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 3.125rem;
  --font-size-5xl: 5rem;
  /* Container */
  --container-lg: 1380px;
  --container-md: 960px;
  --container-sm: 720px;
}
/********* General *********/
body {
  color: var(--color-inverted);
  background-color: var(--color-default);
  font-size: 16px;
  font-family: "RadionB", sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 769px) {
  body {
    font-size: 14px;
  }
}
a:focus-within,
button:focus-within {
  z-index: 1;
  outline: none;
  transition: box-shadow 0.2s;
  box-shadow: 0px 0px 0px 2px var(--color-blue);
}
/********* Typography *********/
h1,
.h1 {
  font-size: var(--font-size-5xl);
}
h2,
.h2 {
  font-size: var(--font-size-4xl);
}
h3,
.h3 {
  font-size: var(--font-size-3xl);
}
h4,
.h4 {
  font-size: var(--font-size-2xl);
}

@media (max-width: 992px) {
  h1,
  .h1 {
    font-size: var(--font-size-4xl);
  }
  h2,
  .h2 {
    font-size: var(--font-size-3xl);
  }
  h3,
  .h3 {
    font-size: var(--font-size-2xl);
  }
  h4,
  .h4 {
    font-size: var(--font-size-xl);
  }
}

@media (max-width: 769px) {
  h1,
  .h1 {
    font-size: var(--font-size-3xl);
  }
  h2,
  .h2 {
    font-size: var(--font-size-2xl);
  }
  h3,
  .h3 {
    font-size: var(--font-size-xl);
  }
  h4,
  .h4 {
    font-size: var(--font-size-lg);
  }
}

.tab__pane {
  display: none;
}
.tab__pane--active {
  display: block;
}
